<div class="chat-container">
	<div class="friend-name">
		<h2>No Friend Selected</h2>
	</div>
	<div class="body-msg">
		<span class="first-msg">Select a friend to view messages</span>
		<ul class="messages">
			<!-- <li class="message">
				<h4 class="name">You</h4>
				<div class="content1">
					<div class="<i class="icon-magento"></i>">
						<img src="../assets/imgs/sidebar/ghost.jpeg">
					</div>
					<div class="content2">
						<span class="msg">hello how are u doing ?</span> <br>
						<span class="date">11:28 PM</span>
					</div>
				</div>
			</li> -->
			<!-- <li class="message sent">
				<h4 class="name">You</h4>
				<div class="content1">
					<div class="image">
						<img src="../assets/imgs/sidebar/ghost.jpeg">
					</div>
					<div class="content2">
						<span class="msg">hello how are u doing ?</span>
						<span class="date">11:28 PM</span>
					</div>
				</div>
			</li>
			<li class="message received">
				<h4 class="name">Friend's Name</h4>
				<div class="content1">
					<div class="image">
						<img src="../assets/imgs/sidebar/ghost.jpeg">
					</div>
					<div class="content2">
						<span class="msg">I'm doing great, thanks!</span>
						<span class="date">11:29 PM</span>
					</div>
				</div>
			</li> -->

		</ul>
	</div>
	<div class="input-msg">
		<span>Select a friend to get start ...</span>
	</div>
	<div class="input-msg2">
		<input type="input" class="form-field" placeholder="Name" name="name" id='name'/>
		<label for="name" class="form-label">Messaging Someone</label>
	</div>
</div>