<div class="allElement">
    <div class="dataPlayer">
        <div class="leftPlayer">
            <img src="" alt="">
            <p class="score">0</p>
        </div>
        <div class="rightPlayer">
            <p class="score">0</p>
            <img src="" alt="">
        </div>
    </div>
    <div class="game-play">
        <canvas class="canvas"></canvas>
        <div class="position-padele">
            <div class="paddel-left"></div>
            <div class="paddel-right"></div>
        </div>
        <!-- New game end overlays -->
        <div class="game-end winner">
            <div class="announcement">
                <h1>WINNER!</h1>
                <div class="trophy">🏆</div>
                <p>Congratulations!</p>
            </div>
        </div>
        <div class="game-end loser">
            <div class="announcement">
                <h1>GAME OVER</h1>
                <div class="emoji">😔</div>
                <p>Better luck next time!</p>
            </div>
        </div>
    </div>
    <div class="color-paddele">
        <div class="color">
            <div data-color="orange"></div>
            <div data-color="red"></div>
            <div data-color="#ffb7b7"></div>
        </div>
        <button class="start">send</button>
    </div>
	<!-- <span class="loader"></span> -->
	<!-- <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> -->
	<!-- <div class="loader"></div> -->

	<div class="loader-container">
		<div class="loader"></div>
		<div class="loader-text">Hang on just a minute...</div>
	  </div>

</div>
