<div class="game-container">
	<img src="../assets/imgs/Group_4-fotor-202412160244.png">
	<div class="ball"></div>
	<div class="buttons">
		<a class="first">quick play</a>
		<a class="second">play with friends</a>
	</div>
</div>

<div class="game-mode" style="display: none;">
	<img src="../assets/imgs/sword-svgrepo-com.svg">
	<h1 class="txt">Game Mode</h1>
	<div class="buttons">
		<a class="first">1 VS 1</a>
		<a class="second">Tournament</a>
	</div>
</div>

<div class="tournament">
	<i class="fa-solid fa-arrow-left"></i>
	<img src="../assets/imgs/Mask_group.png" alt="">
	<div class="buttons">
		<a id="create-tournament-btn" class="first">Create Tournament</a>
		<a class="second"></a>
	</div>
	<!-- Empty container to hold the input form dynamically -->
	<div id="tournament-form"></div>
</div>