<div class="sidebar-container">
	<div class="sidebar">
		<div class="header">
			<div class="txt">
				<i class="fa-solid fa-people-roof"></i>
				<span>Social</span>
			</div>
		</div>
		<div class="friends show">
			<ul class="nav">
				<li class="add-friend">
					<a>
						<i class="fa-solid fa-user-plus"></i>
						<span>Add Friend</span>
					</a>
				</li>

				<!-- Friends List -->
				<li class="select-box frnds close">
					<a>
						<i class="i-left fa-solid fa-user-group"></i>
						<span>Friends</span>
						<i class="i-right fa-solid fa-angle-down"></i>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down my-friends">
					<!-- for test -->
					<!-- <li class="select-box close">
						<div class="profile">
							<a>
								<div class="status-indicator inactive"></div> 
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">brahim98</span>
							</a>
						</div>
						<div class="actions">
							<a class="first"><i class="fa-solid fa-ban"></i></a>
							<a class="second"><i class="fa-solid fa-trash"></i></a>
							<a class="third"><i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
						</div>
					</li> -->
					<!-- <li class="select-box close">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">el hajj osmann</span>
							</a>
						</div>
						<div class="actions">
							<a class="first"><i class="fa-solid fa-ban"></i></a>
							<a class="second"><i class="fa-solid fa-trash"></i></a>
						</div>
					</li>
					<li class="select-box close">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">aer adsfadsew dasfasf</span>
							</a>
						</div>
						<div class="actions">
							<a class="first"><i class="fa-solid fa-ban"></i></a>
							<a class="second"><i class="fa-solid fa-trash"></i></a>
							<a class="third"><i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
						</div>
					</li> -->
				</ul>

				<!-- Pending Request -->
				<li class="select-box close">
					<a>
						<i class="i-left fa-solid fa-clock"></i>
						<span>Pending</span>
						<i class="i-right fa-solid fa-angle-down"></i>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down pending">
					<li class="select-box close">
						<!-- <div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">brahim</span>
							</a>
						</div> -->
						<!-- <div class="actions">
							<a class="first"><i class="fa-solid fa-check"></i></a>
							<a class="second"><i class="fa-sharp fa-solid fa-circle-xmark"></i></a>
						</div> -->
					</li>
				</ul>

				<!-- Invited Users -->
				<li class="select-box close">
					<a>
						<i class="i-left fa-solid fa-envelope"></i>
						<span>Invited</span>
						<i class="i-right fa-solid fa-angle-down"></i>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down invited">
					<!-- <li class="select-box close">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">brahim</span>
							</a>
						</div>
						<div class="actions">
							<a><i class="fa-solid fa-trash"></i></a>
						</div>
					</li> -->
				</ul>

				<!-- Blocked Friends -->
				<li class="select-box close">
					<a>
						<i class="i-left fa-solid fa-person-circle-xmark"></i>
						<span>Blocked</span>
						<i class="i-right fa-solid fa-angle-down"></i>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down blocked">
					<!-- <li class="select-box close">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/ghost.jpeg">
								<span class="nickname">brahim</span>
							</a>
						</div>
						<div class="actions">
							<a><i class="fa-sharp fa-solid fa-trash-arrow-up"></i></a>
						</div>
					</li> -->
				</ul>
			</ul>
		</div>
	</div>
</div>