<div class="match-history-container">
	<div class="header">
		<div class="txt">Matches History</div>
		<div class="close-btn"><i class="fa-solid fa-xmark"></i></div>
	</div>
	<div class="body">
		<ul class="history">
			<li class="match lose">
				<span class="date">22 oct 2024 7:18</span>
				<span class="result">
					<span class="profile1 profile"><img src="../assets/imgs/sidebar/ghost.jpeg"></span>
					<span class="score">7 : 0</span>
					<span class="profile2 profile"><img src="../assets/imgs/sidebar/ghost.jpeg"></span>
				</span>
				<span class="status">Lose</span>
			</li>

			<li class="match win">
				<span class="date">22 oct 2024 7:18</span>
				<span class="result">
					<span class="profile1 profile"><img src="../assets/imgs/sidebar/ghost.jpeg"></span>
					<span class="score">7 : 0</span>
					<span class="profile2 profile"><img src="../assets/imgs/sidebar/ghost.jpeg"></span>
				</span>
				<span class="status">Win</span>
			</li>

		</ul>
	</div>
</div>