<div class="navbar">
	<div class="logo"> 
		<a href="#"><img src="../assets/imgs/Logo.svg"></a>
	</div>
	<div class="links-container">
		<ul class="links">
			
			<li class="notify"> 
				<!-- <a href="/game" data-link="true" class="active"><img src="../assets/imgs/game_icon.svg"></a>  -->
				<a><img src="../assets/imgs/bell.png"></a> 
			</li>

			<li class="game"> 
				<!-- <a href="/game" data-link="true" class="active"><img src="../assets/imgs/game_icon.svg"></a>  -->
				<a><img src="../assets/imgs/game_icon.svg"></a> 
			</li>
			<li class="chat">
				<a><img src="../assets/imgs/chat_icon.svg"></a>
				<!-- <a href="/chat" data-link="true"><img src="../assets/imgs/chat_icon.svg"></a>  -->
			</li>
			<li class="profiles">
				<a><img src="../assets/imgs/profile_icon.svg"></a> 
			</li>
			<!-- <li class="achievement"> 
				<a><img src="../assets/imgs/achievement_icon.svg"></a> 
			</li> -->
			<li class="settings">
				<!-- <a href="/settings" data-link="true"><img src="../assets/imgs/settings_icon.svg"></a>  -->
				<a><img src="../assets/imgs/settings_icon.svg"></a> 
			</li>
			<li class="profile">
				<a><img src="../assets/imgs/sidebar/ghost.jpeg"></a>
			</li>
		</ul>
	</div>
</div>