<div class="notifications-container">
	<!-- Add this div to show when there are no notifications -->
	<div class="no-notifications">
		<p>No notifications for now.</p>
	</div>
	
	<!-- <div class="notification message">
		<p><strong>John:</strong> Sent you a message.</p>
		<span class="time">2 minutes ago</span>
	</div>
	<div class="notification friend-request">
		<p><strong>Emma:</strong> Accepted your friend request.</p>
		<span class="time">5 minutes ago</span>
	</div>
	<div class="notification game-invite">
		<p><strong>Alex:</strong> Invited you to play a game.</p>
		<div class="actions">
			<button class="accept">✔ Accept</button>
			<button class="decline">✖ Decline</button>
		</div>
		<span class="time">7 minutes ago</span>
	</div>

	<div class="notification game-invite">
		<p><strong>Alex:</strong> Invited you to play a tournament game.</p>
		<div class="actions">
			<button class="accept">✔ Accept</button>
			<button class="decline">✖ Decline</button>
		</div>
		<span class="time">7 minutes ago</span>
	</div> -->
	
</div>