<div class="sidebar-right">
	<div class="header">
		<div class="txt">
			<!-- <i class="fa-duotone fa-solid fa-users"></i> -->
			<i class="fa-solid fa-people-roof"></i>
			<span>Direct Message</span>
		</div>
	</div>
	<div class="friends">
		<ul class="nav">
			<!-- drop-down menu -->
			<ul class="drop-down">
				<!-- <li class="select-box">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/ghost.jpeg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						<a><i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
					</div>
				</li> -->
			</ul>
		</ul>
	</div>
</div>