<div class="settings-container">
	<div class="header">
		<h2>Settings</h2>
	</div>
	<div class="body-msg">
		<div class="profile-container">
			<div class="profile-img">
				<img id="profile_image_settings" src="../assets/imgs/sidebar/ghost.jpeg">
				<div class="add-profile">
					<i class="fa-solid fa-plus"></i>
				</div>
				<input type="file" id="fileInput" style="display: none;"/>
			</div>
			<div class="user">
				<h3>Username</h3>
				<div class="username">
					<div class="name" id="username">Ghost</div>
					<a class="change changeUsername">change</a>
				</div>
			</div>

			<div class="auth">
				<h3>Tow-factor Authentication</h3>
				<div class="tow-factor">
					<div class="name twofa-status" >Not Enabled</div>
					<a class="enable enable-btn">2FA Button</a>
				</div>
			</div>
			<div class="logout btn-logout">
				<a>log out</a>
			</div>
			<div class="delete-account btn-delete">
				<a>delete account</a>
			</div>

		</div>
	</div>
</div>