	<!-- The video -->
	<!-- <video autoplay muted loop id="myVideo">
		<source src="../assets/imgs/landingpage.mp4" type="video/mp4">
	</video> -->
	
	<div class="sign show">
		<div class="welcome">
			<img src="../assets/imgs/welcome.png">
		</div>
		<div class="sign-in">
			<div class="nav">
				<ul class="links">
				  <li class="active"><a class="btn">Sign in</a></li>
				  <li class="inactive"><a class="btn">Sign up </a></li>
				</ul>
			</div>
			<!-- sign-in -->
			<form class="form-signin show" name="form">
				<h1>Create Your Account</h1>
				<input class="form-styling" type="text" id="email" placeholder="Email"/>
				<div class="show-pwd">
					<input class="form-styling" type="password" name="password" id="pwd" placeholder="Password"/>
					<i class="fa-solid fa-eye-slash"></i>
				</div>
				<div class="forgot">
					<a>Forgot Password?</a>
				</div>
				<div class="btn-continue">
					<a class="btn-signin">continue</a>
				</div>
				<h3 class="or">or</h3>
				<div class="btn">
					<div class="btn-42">
						<a><img src="../assets/imgs/42_Logo.svg" alt=""></a>
					</div>
					<div class="btn-gmail">
						<a><img src="../assets/imgs/google.svg" alt=""></a>
					</div>
				</div>
			</form>

			<!-- sign-up -->
			<form class="form-signup hidden" action="" method="post" name="form">
				<!-- <input class="form-styling" type="text" name="fullname" placeholder="Full Name"/> -->
				<input class="form-styling" type="text" id="fname" placeholder="First name"/>
				<input class="form-styling" type="text" id="lname" placeholder="Last name"/>
				<input class="form-styling" type="text" id="username" placeholder="Username"/>
				<input class="form-styling" type="text" id="email_signup" placeholder="Email"/>
				<div class="show-pwd">
					<input class="form-styling" type="text" id="password" placeholder="Password"/>
					<i class="fa-solid fa-eye-slash"></i>
				</div>
				<div class="show-pwd">
					<input class="form-styling" type="text" id="confirm-password" placeholder="Confirm Password"/>
					<i class="fa-solid fa-eye-slash"></i>
				</div>
				<div class="btn-continue">
					<a class="btn-signup">continue</a>
				</div>
			</form>

		</div>
	</div>

	<!-- forgot passowrd -->
	<div class="forget-pwd hidden">
		<div class="forget">
			<div class="text">
				<h1>Forget Your Password</h1>
				<div class="msg">Please enter your email address you'd like your password reset information sent to</div>
			</div>
			<form class="form-forget-pwd hidden">
				<input class="form-styling" type="text" id="email_forget" placeholder="Email"/>
				<div class="btn-forget">
					<a class="btn-forget-pwd">Request reset link</a>
				</div>
			</form>
		</div>
	</div>
	<!-- <script src="../scripts/signin.js"></script> -->