<div class="tournament-map-container">
	<div class="holder0">
		<div class="winner player">
			<img src="../assets/imgs/sidebar/lock.jpeg">
		</div>
	</div>
	<div class="holder">
		<div class="players-top">
			<div class="player player-left1">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
			<div class="player player-left2">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
		</div>
		<div class="players-bottom">
			<div class="player player-left1">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
			<div class="player player-left2">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
			<div class="start-btn">Play</div>
			<div class="player player-left3">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
			<div class="player player-left4">
				<img src="../assets/imgs/sidebar/lock.jpeg">
			</div>
		</div>
	</div>
</div>