<div class="tournament-container">
    <!-- <img src="../assets/imgs/Mask_group1.png" alt=""> -->
    <div class="holder">
        <div class="tournament-name">
            <div class="name"></div>
            <div class="total-joins"><span class="joins">1</span>/4</div>
			<i class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>
        <div class="invite-friends">Invite Friends <i class="fa-solid fa-user-plus"></i></div>
        <ul class="players">
            <li class="player owner">
                <div class="player-name">bmengouc <span>(Owner)</span></div>
            </li>
        </ul>
        <div class="btn-start-container">
            <a class="btn-start">Start</a>
        </div>
        <div class="btn-delete-container">
            <a class="btn-delete">Delete Tournament</a>
        </div>
        <div class="btn-kick-container">
            <a class="btn-kick">Kick User</a>
        </div>
        <div class="kick-user-input" style="display: none;">
            <input type="text" class="kick-input" placeholder="Enter username">
            <button class="btn-go">Go</button>
            <button class="btn-cancel">Cancel</button>
        </div>
    </div>
</div>