<div class="versus-container">
	<img src="../assets/imgs/Group_4-fotor-202412160244.png">
	<div class="versus-container2">
		<div class="versus">
			<div class="player player1">
				<img src="../assets/imgs/chad.jpg" alt="Player 1" class="player-image">
				<div class="player-name">Player 1</div>
			</div>
			
			<div class="vs">VS</div>
			
			<div class="player player2">
				<img src="../assets/imgs/cute.jpg" alt="Player 2" class="player-image">
				<div class="player-name">Player 2</div>
			</div>
		</div>
	</div>
</div>